# python一時ファイル
__pycache__/
*.py[cod]
*$py.class

*.egg-info/

# Flask関連
instance/
.webassets-cache

# テスト・カバレッジ
.pytest_cache/
.coverage
.coverage.*
.cache
coverage.xml

/build/
/dist/
/reports/
.venv/

.vimsession
.envrc
.direnv/
config.toml
/tests/sandbox
/data/db.json
/temp/
/_internal/launch*

/_internal/content_translation/*
!/_internal/content_translation/.gitkeep
asset/LICENSES
log.log
/lic/

